@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';


.header {
  padding: 16px;

  &__container {
    max-width: 1360px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    z-index: 6;
  }

  &__profile {
    z-index: 7;
  }

  &__burger {
    display: none;
  }

  &__list {
    display: flex;
    align-items: center;
    padding: 7px 11px 7px 33px;
    border: 1px solid #D6D6D6;
    border-radius: 50px;
  }

  &__item:not(:last-child) {
    margin-right: 24px;
  }

  &__item:last-child {
    padding: 15px 25px;
    background: #0A151B;
    border-radius: 50px;

    .header__link {
      color: #F6F2E8;
    }
  }

  &__link {
    font-size: 16px;
  }
}

.hero {
  padding-top: 147px;
  height: 90vh;
  min-height: 850px;
  position: relative;


  &__title {
    font-size: 150px;
    font-style: normal;
    font-weight: 400;
    line-height: 150px;
    text-align: center;
  }

  &__btn {
    position: absolute;
    padding: 16px;
    background-color: #7E64FF;
    right: 90px;
    bottom: 300px;
  }
}

.collaborative {
  &__title {
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: 80px;
    text-align: center;
    color: #0A151B;
    margin-bottom: 45px;

    span {
      color: #7E64FF;
    }
  }

  &__text {
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 171px;
  }

  &__video {
    display: block;
    max-width: 872px;
    width: 100%;
    height: 491px;
    padding: 10px;
    margin: 0 auto;
    background-color: #0A151B;
    margin-bottom: 157px;
  }

  &__box {
    display: flex;
    justify-content: space-between;
    color: #7E64FF;
    flex-wrap: wrap;
  }

  &__box-item {
    max-width: 325px;
    width: 100%;
    margin-bottom: 30px;
  }

  &__box-title {
    font-size: 120px;
    font-weight: 400;
    line-height: 120px;
    text-align: center;
    margin-bottom: 40px;

    span {
      font-size: 22px;
      vertical-align: middle;
    }
  }

  &__box-text {
    text-align: center;
    color: #0A151B;
    line-height: 28px;
    /* 155.556% */
  }
}

.reveal {
  padding-top: 234px;
  padding-bottom: 184px;

  &__container {
    max-width: 1325px;
  }

  &__title {
    max-width: 690px;
    font-size: 100px;
    font-weight: 400;
    line-height: 100%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 110px;
  }

  &__items {
    padding: 62px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #E2DEDA;
  }

  &__item {
    max-width: 314px;
    width: 100%;
  }

  &__list {
    padding-top: 234px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__elem {
    max-width: 415px;
    width: 100%;
    background-color: #FAFAF6;
    padding-bottom: 104px;
  }

  &__elem-title {
    padding-top: 41px;
    text-align: center;
    padding: 10px 0;
    font-size: 48px;
    font-weight: 400;
    line-height: 100%;
    margin-bottom: 16px;
  }

  &__elem-subtitle {
    font-size: 22px;
    font-weight: 400;
    line-height: 127.273%;
    text-align: center;
    padding: 0 10px;
    margin-bottom: 32px;
  }

  &__elem-img {
    object-fit: cover;
  }

  &__elem-text {
    padding: 0 32px;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 155.556%;
  }
}

.grow {
  &__inner {
    padding-top: 113px;
    background-color: #000000;
    text-align: center;
    padding-bottom: 130px;
    height: 668px;

  }

  &__title {
    font-size: 150px;
    font-weight: 400;
    line-height: 120%;
    color: #FFFFFF;
    margin-bottom: 56px;
  }

  &__btn {
    display: block;
    max-width: 330px;
    width: 100%;
    padding: 19px 10px;
    background-color: #F6F2E8;
    color: #0A151B;
    font-size: 18px;
    line-height: 111.111%;
    border-radius: 25px;
    margin: 0 auto;
  }

  &__subtitle {
    padding-top: 183px;
    font-size: 22px;
    text-align: center;
  }

  &__item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  &__item:nth-child(even) {
    flex-direction: row-reverse;
  }

  &__img {
    max-width: 683px;
    object-fit: contain;
    display: block;
    margin: 0 auto;
  }

  &__box {
    max-width: 512px;
  }

  &__box-title {
    font-size: 64px;
    line-height: 100%;
    max-width: 448px;
    margin-bottom: 42px;
  }

  &__box-text {
    max-width: 425px;
    line-height: 144.444%;
    margin-bottom: 34px;
  }

  &__box-btn {
    display: block;
    max-width: 170px;
    width: 100%;
    line-height: 111.111%;
    padding: 16px 33px 20px;
    border-radius: 50px;
    border: 1px solid #0A151B;
    text-align: center;
  }
}


// ------------------------------------------------------------------------------------------------------

@media (max-width: 960px) {
  .header {
    position: relative;

    &__burger {
      display: block;
      width: 40px;
      height: 40px;
      border-radius: 10px;
      border: 1px solid #0A151B;
      background-color: transparent;
      transform: translateX(-50%);
      position: relative;

      span {
        display: block;
        width: 20px;
        height: 2px;
        background-color: #0A151B;
        margin: 0 auto;
      }

      span::after,
      span::before {
        content: "";
        position: absolute;
        width: 20px;
        height: 2px;
        background-color: #0A151B;
      }

      span::after {
        bottom: 8px;
        left: 9px;
      }

      span::before {
        top: 8px;
        left: 9px;
      }
    }

    &__burger--close {
      z-index: 6;
      position: absolute;
      right: 70px;
      top: 17px;

      span {
        transform: rotate(45deg);
      }

      span::before {
        transform: rotate(-90deg);
        left: 0;
        top: 1px;
      }

      span::after {
        display: none;
      }
    }

    &__list {
      display: block;
      width: 100%;
      max-width: 100%;
      position: absolute;
      left: 0;
      top: 60px;
      background-color: #F6F2E8;
      transform: translateY(-1000%);
      transition: transform .4s;
      z-index: 5;
      border-top: none;
    }

    &__list--active {
      transform: translateY(0);
      transition: transform .4s;
    }

    &__item {
      text-align: center;
    }

    &__link {
      font-size: 40px;
      line-height: 80px;
    }
  }

  .hero {
    padding-top: 337px;
    height: 85vh;

    &__title {
      font-size: 100px;
      line-height: 90px
    }

    &__btn {
      bottom: 540px;
    }
  }

  .collaborative {
    &__title {
      font-size: 45px;
    }
  }

  .grow {

    &__inner {
      height: 100%;
    }

    &__title {
      font-size: 50px;
    }

    &__btn {
      max-width: 274px;
    }

    &__subtitle {
      padding-top: 90px;
      margin-bottom: 30px;
    }

    &__item:not(:last-child) {
      margin-bottom: 30px;
    }

    &__img {
      max-width: 300px;
    }

    &__box {
      margin: 0 auto;
    }

    &__box-title {
      font-size: 50px;
    }
  }
}